/* Стилі для тексту і фону */
body {
    color: #333;
    background-color: #f4f4f4;
}

/* Стилі для шрифтів */
h1, h2 {
    font-family: Arial, sans-serif;
}

/* Розташування елементів */
table {
    margin-bottom: 20px;
}

/* Стилі посилань */
a {
    color: #007bff;
    text-decoration: none;
}

/* Стилі кнопок */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
