body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #0066cc;
}

table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    background-color: white;
    width: 600px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    text-align: center;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
img:hover{
    box-shadow: 0 0 10px 7px rgba(61, 134, 243, 0.678);
}
a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0066cc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px auto;
}

a:hover {
    background-color: #004080;
    color: orange;
}
button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0066cc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px auto;
    border: none;
    height: 38px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

button:hover {
    background-color: #004080;
    color: orange;
}
.main
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #57aa7b9d;
    width: 1000px;
    position: relative;
    left: 400px;
    border-radius: 10px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}